.header {
    text-align: center;
}

.main-header {
    height: 50px;
    padding-top: 10px;
}

.logo-wrapper {
    float: left;
    margin-left: 10%;
    align-items: center;

}

.header-login-element {
    float: right;
    margin-right: 10%;
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 50px;
}