.title-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  position: relative; /* Enable positioning of the button */
}

.return-button-container {
  position: absolute;
  left: 10%; /* Position button with 10% margin from the left */
}

.h1-evaluation-container {
  text-align: center;
  flex: 1; /* Allow the h1 container to take up remaining space */
}

.return-button-icon {
  margin-right: 5px; /* Optional: Add space between icon and text */
}

.h1-evaluation-title {
  margin: 0; /* Remove default margin if needed */
  font-weight: bold;
  font-size: 50px;
}

.h2-evaluatoin-title{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.title-wrapper{
  display: flex;
  justify-content: center; /* Distributes space between items */
  align-items: center;
  margin-top: 40px;
  width: 95%;
}

.wrapper-element{
  flex: 1;
  position: relative;                   /* Each element takes up an equal amount of space */
  box-shadow: 2px 2px 5px gray;
  margin: 5px;
  border-radius: 10%;
  padding: 100px;

}

.wrapper-element:hover {
  background-color: rgb(203, 203, 203);
}

.wrapper-element.selected {
  background-color: rgb(231, 231, 231);
  border: 1px solid black;
  box-shadow: none;
}

.hover-explanation {
  position: absolute;
  bottom: 100%; /* Position above the wrapper element */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 12px;
  margin-bottom: 5px; /* Add space between the hover text and wrapper element */
  z-index: 1; /* Ensure the explanation appears above other elements */
}

.comment-title{
  margin-top: 10px;
  margin-left: 10px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment-topic{
  margin: 0 auto;
  width: 95%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}