.helmet {
    transition: width 2s, height 4s;
}

body{
    margin: 0;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container.full-width {
    width: 100%; /* or any other value that makes it occupy the space of the right panel */
  }

.footer {
    text-align: center;
    background-color: hsl(221, 64%, 39%);
    min-height: 40px;
    color: #FFFFFF;
    padding: 1rem 0 6rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

ul > h3 {
    font-weight: 700;
}

.footer a {
    color: #d3d3d3e2;
    /* Light Gray */
    text-decoration: none;

}

.LineChart {
    width: 75%;
    height: 75%;
}

.chart{
    justify-content: center;
    display: inline;
    align-self: center;
}
.home {
    width: 100%;
    /* max-width: 1200px; или любое другое значение, подходящее для вашей задачи */
    margin: 0 auto;
    text-align: center;
}

.block {
    display: flex;
    justify-content: center;
}

.homeH1 {
    font-weight: bold;
}

.wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    min-height: 780px;
    width: 100%;
}