/* html,
body, */
#root {
    min-height: 100%;
}


.helmet {
    transition: width 2s, height 4s;
}

.title-list-people {

    text-align: left;
    font-weight: bold;
}

.category-scores {
    text-align: left;
    font-weight: bold;

}

.container2{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.container2.full-width {
    width: 100%; /* or any other value that makes it occupy the space of the right panel */
  }

.footer {

    text-align: center;
    background-color: hsl(221, 64%, 39%);
    min-height: 40px;
    color: #FFFFFF;
    padding: 1rem 0 6rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

ul > h3 {
    font-weight: 700;
}

.footer a {
    color: #d3d3d3e2;
    /* Light Gray */
    text-decoration: none;

}

.LineChart {
    width: 100%;
    height: 100%;
}

.chart{
    justify-content: center;
    align-self: center;
}
.home {
    width: 100%;
    /* max-width: 1200px; или любое другое значение, подходящее для вашей задачи */
    margin: 0 auto;
    text-align: center;
}

.block {
    display: flex;
    justify-content: center;
}

.homeH1 {
    font-weight: bold;
}

.wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    width: 100%;
}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*----------------------------------------------------RightPanelComponent--------------------------------------------------------*/

.right-panel {
    width: 20%;
}

/* .right-panel-view-evaluation-button {
    float: right;
} */

.evaluation-button{

    width: 150px; /* Set the width of the container */
    margin: 0px 20px; /* Set the top/bottom margin */
    padding: 10px 20px; /* Add padding to the container */
    background-color: black; /* Set the container background color to black */
    border-radius: 10px; /* Round the corners of the container */
    display: flex; /* Use flex to center the button */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

/* Styling the button itself */
   .evaluation-button button {
    width: 100%; /* Make the button fill the container */
    padding: 0; /* Remove default padding */
    background-color: transparent; /* Make the button background transparent */
    color: white; /* Set the text color to white */
    border: none; /* Remove any border */
    border-radius: 10px; /* Ensure corners match container */
    font-size: 12px; /* Set font size */
    font-family: 'Roboto', sans-serif; /* Set font family */
    font-weight: 500; /* Set font weight */
    text-align: center; /* Center the text */
    line-height: 1.5; /* Set line height for text */
    cursor: pointer; /* Change cursor to pointer on hover */
    outline: none; /* Remove the default outline on focus */
} 
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

