.wrapper{
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    min-height: 780px;
}

.container{
    width: 65%;
  
    align-items: center;
    flex-direction: column;
}

.container.full-width {
    width: 100%; /* or any other value that makes it occupy the space of the right panel */
  }

.nav-menu{
    width: 15%;
}

.right-panel{
    width: 20%;
}

.header{
    text-align: center;
    background-color: rgb(128, 128, 128);
}

.footer{
    text-align: center;
    background-color: rgb(128, 128, 128);
    min-height: 63px;
}

<<<<<<< HEAD
.LineChart{
    width: 50%;
    height: 50%;
}


=======
.LineChart{ 
    width: 50%;
    height: 50%;
}
/* 
.chart{
    justify-content: center;
    display: inline;
    align-self: center;
} */
.home{
    width: 100%;
    /* max-width: 1200px; или любое другое значение, подходящее для вашей задачи */
    margin: 0 auto;
    text-align: center; 
}   
>>>>>>> test

.block{
    display: flex;
    justify-content: center;
}