.footer {
    background: rgb(83, 110, 94, 0.7);
}

.footer a {
    text-decoration: none;
    color: #adb5bd; /* Цвет ссылок */
}

.footer a:hover {
    color: #ffffff; /* Цвет при наведении */
}
