<footer>
	<ul>
		<li>
			<h3>Contact Information</h3>
		</li>
		<li>
			<a href="/Support Contact" aria-label="Quick Links: Support Contact" target="_self">
				Contact Us

			</a>

		</li>
		<li>
			<a href="/HR Contact" aria-label="Quick Links: HR Contact" target="_self">
				HR Contact

			</a>
		</li>
		
		
	</ul>
	<ul>
		<h3>Legal Information</h3>
		<li><a href="/Privacy Policy" aria-label="Quick Links: Privacy Policy" target="_self">
			Privacy Policy
			</a>	
			<li> <a href="/Terms of Service" aria-label="Quick Links: Terms of Service" target="_self">
				Terms of service
				</a>	
				<li><a href="/Disclaimer" aria-label="Quick Links: Disclaimer" target="_self">
					Disclaimer
					</a>	
				<h3>Company Information</h3>
				<li><a href="/Company Name" aria-label="Quick Links: Company Name" target="_self">
					Company Name
					</a>
					<li>
						<a href="/Adress" aria-label="Quick Links: Address" target="_self">
							Address
							</a>	
					</li>	
					<h3>Accessibility and Help</h3>
					<li>
							<a href="/Help Center Link" aria-label="Quick Links: Help Center Link" target="_self">
								Help Center Link
								</a>	
					</li> <a href="/Accessibility Feautures" aria-label="Quick Links: Accessibility Feautures" target="_self">
						Accessibility Feautures
						</a>	
				<h3>Social Media Links</h3>
				<li><a href="/Social Media Icon" aria-label="Quick Links: Social Media Icon" target="_self">
					Social Media Icon
					</a>	
				</li>
				<h3>Copyright Notice</h3>
				<li>
					<a href="/Copyright Statement" aria-label="Quick Links: Copyright Statement" target="_self">
						Copyright Statement
						</a>	
						<li>
							<h3>Application Version</h3>
							<li> <a href="/Link to phone app" aria-label="Quick Links: Link to phone app" target="_self">
								Link to phone app
								</a>	

				</li>
	</ul>
</footer>