h1 {
  font-weight: bold;
  font-size: 34px;
  text-align: center;
}

.people-container {
  margin-top: 1%;
  width: 100%;
}

.search{
  display: none;
}

table {
  width: 100%;
}

thead {
  text-align: left;
  font-weight: bold;
}

/* tbody{
  align-items: center;
  border-bottom: 1px solid;
} */

th {
  text-align: left;
  border-bottom: 1px solid;
  padding: 10px;
}

.th-email {
  text-align: center;
}

.th-action {
  text-align: center;
}

td {
  color: #6C757D;
  padding: 10px;
  border-bottom: 1px solid #6C757D;
}

.td-email {
  text-align: center;
  color: black;
}

.th-status{
  text-align: center;
}

.td-status-a {
  color: white;
  background-color: #5cc058;
  padding: 5px 10px 5px 10px;
  border-radius: 12px;
  border-width: 0;
  min-width: 90px;
  max-width: 90px;
}
.td-status-b {
  color: white;
  background-color: #DC3545;
  padding: 5px 10px 5px 10px;
  border-radius: 12px;
  border-width: 0;
  min-width: 90px;
  max-width: 90px;
}

.sort {
  cursor: pointer;
}

.td-action-b {
  text-align: center;
}

/*|||||||||||||||||||||||||||||||||||||Dropdown menu|||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.ellipsis-button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
}

.ellipsis-container {
  position: relative;
  display: inline-block;
}

.dropdown-menu2 {
  position: absolute;
  bottom: 27px;
  right: -9px;
  background-color: white;
  border-radius: 5%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  min-width: 100px;
  text-align: left;
  overflow: visible;
}

.dropdown-menu2::after {
  content: "";
  position: absolute;
  bottom: -16px;
  right: 0;
  width: 0px;
  height: 0px;
  border: 1px solid #ccc;
  border-style: solid;
  border-width: 22px 18px 0 18px;
  border-color: #ffffff transparent transparent transparent;
  transform: rotate(0deg);
  z-index: 900;
  /* Keep this lower than the buttons */
}

.dropdown-menu2 button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
  position: relative;
  /* Add relative positioning */
  z-index: 1001;
  /* Ensure buttons are above the arrow */
}

.dropdown-menu2 img {
  width: 25px;
  padding-right: 5px;
}

.dropdown-menu2 button:hover {
  background-color: #d3d3d3;
}

.dropdown-menu2 button:last-child:hover {
  background-color: rgb(255, 0, 0, 0.72);
  color: white;
  /* Optional: change text color to white on hover */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.img {
  position: absolute;
  /* Абсолютное позиционирование */
  left: 0;
  /* Прижать к левому краю */
  top: 50%;
  /* Сместить на 50% по высоте */
  transform: translateY(-50%);
  /* Сместить на половину высоты картинки вверх для центрирования по вертикали */
  width: 50px;
  /* Ширина картинки */
  height: 50px;
  /* Высота картинки */
  border-radius: 50%;
  /* Круглая форма изображения */
}

.img-box {
  padding: 0;
  position: relative;
  /* Для корректного отображения изображения внутри ячейки */
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/